
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html, body {
    background-color: #F2EEE7;
}

.nav {
    display: flex;
    height: 57.5px;

    background: #FBFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}


.logo {
    height: 17px;
    width: 124px;
    margin: 18.66px auto 20.5px auto;
}

.ppcard{
    box-sizing: border-box;

position: absolute;
width: 953.33px;
height: 478.33px;
left: 163.33px;
top: 97.33px;

background: #FBFBFB;
border: 0.208333px solid #000000;
}

.mainhead{
    height: 38px;
    width: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    display: table;
    align-items: baseline;
    color: #0D0C22;
    margin: 26px auto auto auto;
}

.maindesc{
    height: 20px;
    left: 34.38%;
    right: 34.3%;
    top: 181px;
    margin: 3px auto auto auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13.3333px;
    line-height: 20px;
    display: table;
    align-items: center;
    color: #6E6D7A;
}
.name{
    width: 54px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 17.6364px;
    line-height: 26px;
    align-items: center;
    color: #000000;
    margin: 32px auto auto 45px;

}

.same4{
    width: 54px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 17.6364px;
    line-height: 26px;
    align-items: center;
    color: #000000;
    margin: 22px auto auto 45px;
}

.nameinp1{
    box-sizing: border-box;

    margin: auto auto auto 44px;
    width: 156.67px;
    height: 38.33px;
    padding: 0 21px;

    
    border: 0.208333px solid #000000;
    border-radius: 2.61667px;
    font-family: 'Poppins';
font-style: normal;
font-size: 10.7px;
line-height: 16px;
}

.nameinp2{
    box-sizing: border-box;


width: 156.67px;
height: 37.99px;
margin: auto auto auto 6px;


border: 0.208333px solid #000000;
border-radius: 2.61667px;
font-family: 'Poppins';
font-style: normal;
font-size: 10.7px;
line-height: 16px;
padding: 0 21px;
}

.bioinp{
    box-sizing: border-box;


width: 323.56px;
height: 37.99px;
margin: auto auto auto 44px;
border: 0.208333px solid #000000;
border-radius: 2.61667px;
font-family: 'Poppins';
font-style: normal;
font-size: 10.7px;
line-height: 16px;
padding: 0 21px;

}

.workinp{
    box-sizing: border-box;

    padding: 0 21px;

width: 323.56px;
height: 37.99px;
margin: auto auto auto 44px;


border: 0.208333px solid #000000;
font-family: 'Poppins';
font-style: normal;
font-size: 10.7px;
line-height: 16px;
border-radius: 2.61667px;
}

.eduinp{
    box-sizing: border-box;

    padding: 0 21px;

width: 323.56px;
height: 37.99px;
margin: auto auto auto 44px;

border: 0.208333px solid #000000;
border-radius: 2.61667px;
font-family: 'Poppins';
font-style: normal;
font-size: 10.7px;
line-height: 16px;
}

.locinp{
    box-sizing: border-box;
    margin: auto auto auto 44px;

width: 323.56px;
height: 37.99px;
padding: 0 21px;



font-family: 'Poppins';
font-style: normal;
font-size: 10.7px;
line-height: 16px;

border: 0.208333px solid #000000;
border-radius: 2.61667px;

}
 
label{
    width: 100px;
    display: inline-block;
}

.center {
    /* height: 100%; */
    display: flex;
    margin-top: 28px;
    align-items: center;
    justify-content: center;
  }
  .form-input {
    width: 170px;
    margin-right: -190px;   
    padding:20px;
    background: #FBFBFB;
    border: 0.208333px solid #000000;
  }

  .form-input img {
    width:100%;
    display:none;
    margin-bottom:30px;
  }

  .form-input input {
    display:none;
  }
  
  .form-input label {
    display:block;
    width:106.16px;
   margin-left: 25px;
    line-height:50px;
padding-left: 17px;
height: 33.33px;
left: 0%;

background: rgba(255, 255, 255, 0.002);
border-radius: 6.66667px;
width: 118px;
height: 31px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11.6667px;
line-height: 17px;
/* identical to box height, or 143% */

display: flex;
align-items: center;
text-align: center;

color: #0D0C22;
    cursor:pointer;

    box-sizing: border-box;
    background: #FBFBFB;
    border: 0.208333px solid #000000;
    
  }

  .rightside{
    position: absolute;
    width: 480px;
    height: 329px;
    left: 472px;
    top: 100;
    top: 86px;

background: #FBFBFB;
  }

  .addprfl{
    position: absolute;
height: 20px;
left: 32px;
right: 71.11%;
top: 31px;
width: 156px;
font-family: 'Poppins';
font-style: normal;
font-weight: bolder;
font-size: 16.6667px;
line-height: 20px;
/* identical to box height, or 120% */

display: flex;
align-items: center;

color: #0D0C22;
  }

.continue{
    /* position: absolute; */
    width: 147.12px;
    height: 37.5px;
    left: 515.83px;
    top: 537.5px;
    margin-top: 34px;
    background: #3F7EEB;
    border-radius: 5.76923px;
    border: none;
    margin-left: 353px;
    /* position: absolute; */
    /* width: 147.12px; */
    /* height: 37.5px; */
    /* left: 515.83px; */
    /* top: 537.5px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11.1111px;
    line-height: 17px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: #FFFFFF;
} 

.skip{
width: 83px;
height: 20px;
left: 681.67px;
top: 546.67px;
margin-left: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13.3333px;
line-height: 20px;
/* identical to box height */


color: #7D7D7D;

}